
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-size: 16px;   
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-weight:100;
    
}
:root{
    --blue:#011538;
    --orange:#ff671f;
    --grey:#efefef;
    --letter-footer: #383838;
}

/*-------ICONOS-------------------------------------*/


body{
    width: 98vw;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1{
    position: relative;
    left: 1%;
    top:20%;
    font-size: calc(1rem + 2vw);
    color: #fff;
}
h2{
    font-size: calc(1.5rem + 1.5vw);
    margin-bottom:2% ;
}
h3{
    font-size: calc(0.5rem + 0.5vw) ;
    cursor: pointer;
}
h4{
    font-size: calc(0.4rem + 0.7vw);
    color: #fff;
    font-weight: bold;
}
h5{
    font-size: calc(1rem + 1vw) ;
    color: var(--letter-footer);
}
h6{
    font-size: calc(0.8rem + 0.5vw);
    color:var(--letter-footer);
}

/*------------------HEADER-----------------------------------*/
header{
    width: 99vw;
    height: 14%;
    position: fixed;
    z-index: 20;
}
.up{
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.up-1{
    width: 50%;
    display: flex;
    align-items: center;    
    justify-content:space-around ;
}
.up-1>svg{
    display: none;
}
.up-1>a{
    height: 100%;
    display: flex;
    align-items: center;
}
.up-1>a>img{
    width: 90%;
    height: 50%;
}
.up-1-search{
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 70%;
    height: 64%;
}
.search-i{
    width: 5%;
    color: var(--orange);
    cursor: pointer;
}
.mic-i{
    width: 5%;
    color: gray;
    cursor: pointer;
}
.up-1-search>input{
    width: 80%;
    height: 103.5%;
    border-color: #fff; 
    display: flex;
    flex-grow: 1;
    font-size: 1.5rem;
}
.up-2{
    width: 30%;  
}
.up-2>ul{
    width: 100%;
    display: flex;
    justify-content: end;
    justify-content: space-around;
}
.up-2>ul>li{
    display: flex;
    align-items: center;
}
.up-2>ul>li>a{
    display: flex;
    align-items:center ;
    justify-content: center;
    text-decoration:none;
    color: #fff;

}
.up-2>ul>li>a>p{
    font-size: calc(0.5rem + 0.5vw);
    margin-left: 1px;
}
.up-2>ul>li>a>p>b{
    font-size: calc(0.5rem + 0.5vw);
}
.ubication>p{
    display: flex;
    flex-direction: column;
}

.down{
    position: relative;
    background-color: #fff;
    height: 50%;
    display: flex;
    align-items: center;
}
.down>svg{
    color: var(--orange);
    cursor: pointer;
    margin-left: 1%;
}
.down>ul{
    display: flex;
    width: 90%;    
    height: 100%;
    display: flex;
    align-items: center; 
}
.down>ul>li{
    padding-left: 1%;
    height: 100%;
    display: flex;
    align-items: center;
}
.down>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
/*menu desplegable lateral*/
.down>aside{
    display: none;
    position:absolute;
    height: 100vh;
    width: 20%;
    margin-left: 0%;
    top:100%;
    overflow-y: scroll;
    z-index: 10;
    background-color: #fff;

}
.down>aside a{
    color: black;
    cursor: pointer;
}
.down>svg:hover~aside{
    display:block;
}
.down>aside:hover~aside{
    display:block;
}
/* hago version del menu desplegable con hover, para hacerme una idea de como quedaria. Solo para version pc*/

/*---------------------MOBILE--------------------------------*/
@media  screen and (max-width: 768px) {
    header{
        width: 100%;
    }
    .up{
        position:relative ;
        height: 100%;
        align-items: flex-start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;    
    }
    .up-1{
        width: 100%;
        align-self: center;
    }
    .up-1>svg{
        display: block;
        color: #fff;
    }
    .up-1>a{
        grid-column: 1/2;
        width: 70%;
    }
    .up-1-search{
        position: absolute;
        bottom: 14%;
        left: 3%;
        height: 35%;
        width: 94%;
    }
    .up-2{
        grid-column: 3/4;
        align-content: center;
        width: 100%;
        height: 100%;
    }
    .up-2>ul{
        width: 100%;
        align-content: center;
    }
    .up-2 a p{
        display: none;
    }
    .down{
        display: none;
    }

}

/*--------------------TABLET--------------------------------*/

@media  screen and (max-width:1023px) and (min-width:769px){
    header{
        width: 100%;
    }
    .up{
        position:relative ;
        height: 100%;
        align-items: flex-start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;    
    }
    .up-1{
        width: 100%;
        align-self: center;
    }
    .up-1>svg{
        display: block;
        color: #fff;
    }
    .up-1>a{
        grid-column: 1/2;
        width: 70%;
    }
    .up-1>a>img{
        width: 80%;

    }
    .up-1-search{
        position: absolute;
        bottom: 14%;
        left: 3%;
        height: 35%;
        width: 94%;
    }
    .up-2{
        grid-column: 3/4;
        display:flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .up-2>ul{
        width: 100%;
    }
    .up-2 a p{
        display: none;
    }
    .down{
        display: none;
    }

}

/*------------------MAIN-----------------------------------*/
main{
    width: 99vw;
    position: relative;
    top:165px;

}
/*------------------LEAFLET-----------------------------------*/
.leaflet{
    position: relative;

    background-color: var(--orange);
    display: flex;
    cursor: pointer;
}
.leaflet-1>p{
    color: #fff;
    background-color: var(--blue);
    border-radius: 20px;
    padding: 1.5%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-weight: bold;
    font-size: calc(0.5rem + 0.5vw);
}
.leaflet-1{
    width: 50%;
    position: relative;
    display: flex;
    flex-grow: 1;
    
}
.leaflet-2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.leaflet-2>img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.leaflet-3{
    width: 4%;
    background-color: #fff;
}
.pc{
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}
.mobile{
    display: none;
}
/*---------------------MOBILE--------------------------------*/
@media  screen and (max-width: 768px) {
    main{
        top:110px
    }
    .leaflet{
        display: flex;
        flex-direction: column;
    }
    .leaflet-1{
        order: 4;
        width: 100%;
        height: 15vh;
    }
    .leaflet-2{
        order: 3;
        width: 100%;
    }
    .leaflet-3{
        order: 1;
        width: 100%;
    }
    .pc{
        display: none;
    }
    .mobile{
        clip-path: polygon(0 30%, 50% 50%, 100% 30%);
        background-color: var(--orange);
        width: 100%;
        height: 100%;
    }

}

/*--------------------TABLET--------------------------------*/

@media  screen and (max-width:1023px) and (min-width:769px){
    main{
        top:175px
    }
    .leaflet{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .leaflet-1{
        order: 4;
        width: 100%;
        height: 15vh;
    }
    .leaflet-2{
        order: 3;
        width: 100%;
    }
    .leaflet-3{
        order: 1;
        width: 100%;
    }
    .pc{
        display: none;
    }
    .mobile{
        clip-path: polygon(0 30%, 50% 50%, 100% 30%);
        background-color: var(--orange);
        width: 100%;
        height: 100%;
    }

}
/*------------------SECTIONS-----------------------------------*/

.sections{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.sections>ul{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
}
.sections>ul>li>a{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: calc(0.9rem + 0.5vw) ;
}

/*iconos*/
.b-category-root-list-categories__item--icon:hover{
    color:var(--orange);
}
/*---------------------MOBILE--------------------------------*/
@media  screen and (max-width: 768px) {
    .sections>ul{
        display: grid;
        grid-template-rows: repeat(9, 1fr);
        grid-template-columns: 1fr 1fr;
    }
}

/*--------------------TABLET--------------------------------*/

@media  screen and (max-width:1023px) and (min-width:769px){
    .sections>ul{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
}

/*------------------SERVICES-----------------------------------*/
.services{
    width: 99vw;
    height: 30%;
    background-color: #efefef;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.services>article{
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 17%;
}
.services>article p, b{
    font-size: calc(0.6rem + 0.6vw);
    flex-grow: 1;
}
.services b{
    font-weight: 150;
}
.services img{
    width: 30%;
}

/*---------------------MOBILE--------------------------------*/
@media  screen and (max-width: 768px) {
    .services>article{
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 40%;
    }
}

/*------------------SECTIONS-----------------------------------*/

.products{
    padding: 2%;
    width: 99vw;
}
.products>ul{
    display: flex;
    overflow-x: scroll;
}
.products>ul>li{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1%;
    min-width: 15%;
    border: 0.5px solid rgb(210, 207, 207);
}
.image{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.products img{
    max-height: 100%;
    max-width: 100%;
}
.text{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.text button{
    background-color: var(--orange);
    color: #fff;
    font-size: calc(0.6rem + 0.5vw) ;
    font-weight: 300;
    border-style: none;
    padding: 3%;
    border-radius: 8px;
    width:  calc(5rem + 2vw);
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top: 4%;
    cursor: pointer;
}
.text span{
    color: #fff;
    margin-right: 8px;
}
.text svg{
    max-width: 100%;
    max-height: 100%;
}
.h7{
    font-weight: bold;
    font-size:  calc(0.5rem + 0.5vw);
    margin-top: 4%;
}
.h8{
    display: flex;
    font-weight: bold;
    font-size: calc(0.5rem + 0.5vw);
    color: #09aa1f;
    margin-top: 4%; 
}
.h8 svg{
    width: 24px;
    height: 24px;
}
.h9{
    font-weight: bold;
    font-size: calc(0.5rem + 0.5vw);
}


/*---------------------MOBILE--------------------------------*/
@media  screen and (max-width: 768px) {
    .products>ul>li{
        min-width: 50%;
    }
    .text button{
        font-size: calc(1rem + 0.5vw) ;
        padding: 1%;
        width:  calc(5.5rem + 2vw);
    }
    .text svg{
        max-width: 90%;
        max-height: 89%;
    }
    .h7, .h8, .h9{
        font-size:  calc(1rem + 0.5vw);
    }
    h3{
        font-size: calc(1rem + 0.5vw) ;
    }
    .text>p{
        font-size: 1rem;
    }
}

/*--------------------TABLET--------------------------------*/

@media  screen and (max-width:1023px) and (min-width:769px){

    .products>ul>li{
        min-width: 50%;
        font-size: 2rem;
    }
    .text button{
        font-size: calc(1.3rem + 0.5vw) ;
        padding: 1%;
        width:  calc(5rem + 7vw);
    }
    .text svg{
        max-width: 90%;
        max-height: 89%;
    }
    .h7, .h8, .h9, p{
        font-size:  calc(1.5rem + 0.5vw);
    }
    .h8 svg{
        width: 40px;
        height: 40px;
    }
    h3{
        font-size: calc(1rem + 1vw) ;
    }

}
/*--------Tarjetas mas info--------------*/
.more>article{
    height: 280px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 5%;
}
.more>article>div{
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.541) 5px 5px 5px;
    display: flex;
    background-color: var(--orange);
}
.more>article>div a{
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.more>article>div>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-1{
    position: relative;
    width: 90%;
    top:10%;
    left: 5%;
}
.card-2{
    background-color: var(--blue);
    width: 90%;
    border-radius: 8px;
    position: relative;
    padding: 1%;
    left: 2%;
    bottom: 3%;
    text-align: center;
}
.more>article>div img{
    object-fit: cover;
    overflow: hidden;
}
/*---------------------MOBILE--------------------------------*/
@media  screen and (max-width: 768px) {
    .more>article{
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .more>article>div{
        width: 90%;
        margin: 5% 5%;
    }
    .more>article>div a{
        font-size: 0.8rem;
    }
    h4{
        font-size: calc(1rem + 0.7vw);
    }
}
/*--------------------TABLET--------------------------------*/

@media  screen and (max-width:1023px) and (min-width:769px){
    .more>article{
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    .more>article>div{
        width: 90%;
        height: 30vh;
        margin: 5% 5%;
    }
    .more>article>div a{
        font-size: 1.4rem;
    }
    h4{
        font-size: calc(2rem + 0.7vw);
    }
}
/*--mas productos--*/

.product{
    width: 80%;
    margin-bottom: 7%;
    align-self: center;
    justify-self: center;
    border-color: black;
    border-style: solid;
}
.product>legend{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr ;
}
.product>legend>span{
    grid-column: 3/5;
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
    text-align: center;
}
.product>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 0.2fr 1fr ;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin-bottom: 2%;
}
.product-2, .product-2-1, .product-2-2{
    grid-row: 3;
}
.product>ul>li{
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: 1px;
    border-style: solid;
    width: 90%;
    height: 90%;
    padding: 8%;
}
.product>ul>li>a{
    font-size: calc(0.5rem + 0.5vw);
    color: black;
    padding: 5%;  
}
/*prove*/
.prove{
    width: 80%;
    margin-bottom: 7%;
    align-self: center;
    justify-self: center;
    border-color: #000000;
    border-style: solid;
}
.prove>legend{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows:1fr ;
}
.prove>legend>span{
    grid-column: 3/5;
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
    text-align: center;
}
.prove>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 0.2fr 1fr ;
    align-items: center;
    margin-bottom: 2%;

}
.prove-2, .prove-2-1, .prove-2-2{
    grid-row: 3;
}

.prove>ul>li{
    text-align: center;
    align-content: center;
    border: 1px;
    border-style: solid;
    width: 90%;
    height: 90%;
    padding: 5%;
}

.prove>ul>li>a>img{
    max-width: 100%;
    height: 40%;
}
.prove>div{
    position: absolute;
    background-color: var(--orange);
    border-radius: 8px;
    color: #fff;
    width: 15%;
    text-align: center;
    left: 43%;
    bottom: -1.2%;
    padding: 1%;  
}
.prove>div a{
    color: #fff;
    font-size: calc(0.6rem + 0.5vw);
    
}
/*---------------------MOBILE--------------------------------*/
@media  screen and (max-width: 768px) {
    .product{
        width: 100%;
        margin-bottom: 7%;
    }
    .product>legend>span{
        grid-column: 2/6;
        font-size: calc(1.5rem + 0.5vw);
    }
    .product>ul{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .product-0{
        grid-row: 2/3;
    }
    .product-1{
        grid-row: 3/4;
    }
    .product-2{
        grid-row: 4/5;
    }
    .product-2-1{
        grid-row: 5/6;
    }
    .product-2-2{
        grid-row: 6/7;
    }
    .product>ul>li{
        padding: 5%;
    }
    .product>ul>li>a{
        font-size: calc(1rem + 0.3vw);
    }

    /*prove*/
    .prove{
        width: 100%;
        margin-bottom: 7%;
    }
 
    .prove>legend>span{
        grid-column: 2/6;
        font-size: calc(1.5rem + 0.5vw);
    }
    .prove>ul{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    }
    .prove-01{
        grid-row: 1/2;
    }
    .prove-0{
        grid-row: 2/3;
    }
    .prove-1{
        grid-row: 3/4;
    }
    .prove-2{
        grid-row: 4/5;
    }
    .prove-2-1{
        grid-row: 5/6;
    }
    .prove-2-2{
        grid-row: 6/7;
    }
    .prove>ul>li{
        border: 1px solid #000000;
        width: 14%;
        min-width: 90%;
        height: 20vw;
        min-height: 50px;
        margin: 1%;
    }
    .prove>ul>li>a{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
    }
    .prove>ul>li>a>img{
        width: 60%;
        min-width: 90px;
        height: 60%;
        margin: auto;
        object-fit: contain;
    }
    .prove>div{
        position: absolute;
        background-color: var(--orange);
        border-radius: 8px;
        color: #fff;
        width: 40%;
        text-align: center;
        left: 30%;
        bottom: -0.5%;
        padding: 1%;  
    }
    .prove>div a{
        color: #fff;
        font-size: calc(0.6rem + 0.5vw);
    }
}
/*--------------------TABLET--------------------------------*/

@media  screen and (max-width:1023px) and (min-width:769px){
    .product{
        width: 100%;
        margin-bottom: 7%;
    }
    .product>legend>span{
        grid-column: 2/6;
        font-size: calc(1.5rem + 0.5vw);
    }
    .product>ul{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .product-0{
        grid-row: 2/3;
    }
    .product-1{
        grid-row: 3/4;
    }
    .product-2{
        grid-row: 4/5;
    }
    .product-2-1{
        grid-row: 5/6;
    }
    .product-2-2{
        grid-row: 6/7;
    }
    .product>ul>li{
        padding: 5%;
    }
    .product>ul>li>a{
        font-size: calc(1rem + 0.3vw);
    }

    /*prove*/
    .prove{
        width: 100%;
        margin-bottom: 10%;
    }
    .prove>legend>span{
        grid-column: 2/6;
        font-size: calc(1.5rem + 0.5vw);
    }
    .prove>ul{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .prove-0{
        grid-row: 2/3;
    }
    .prove-1{
        grid-row: 3/4;
    }
    .prove-2{
        grid-row: 4/5;
    }
    .prove-2-1{
        grid-row: 5/6;
    }
    .prove-2-2{
        grid-row: 6/7;
    }
    .prove>ul>li{
        border: 1px solid #000000;
        width: 14%;
        min-width: 90%;
        height: 20vw;
        min-height: 50px;
        margin: 1%;
    }
    .prove>ul>li>a{
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
    }
    .prove>ul>li>a>img{
        width: 60%;
        min-width: 90px;
        height: 60%;
        margin: auto;
        object-fit: contain;
    }
    .prove>div{
        position: absolute;
        background-color: var(--orange);
        border-radius: 8px;
        color: #fff;
        width: 35%;
        text-align: center;
        left: 32%;
        bottom: -0.8%;
        padding: 1%;  
    }
    .prove>div a{
        color: #fff;
        font-size: calc(1.5rem + 0.5vw);
     
    }
}

/*-------FOOTER----------------------------------*/

footer{
    background-color: var(--grey); 
    width:99vw; 
    position: relative;
    top: 150px;
}
.compromises{
    border-bottom: 1px solid var(--letter-footer);
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
    margin-bottom: 4%;
}
.compromises>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr; 
    margin-bottom: 4%;
    margin-top: 4%;
}
.compromises>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.compromises>ul>li>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.compromises>ul>li>a>img{
    width: 38%;
}
.euro>img{
    width: 30%;
}
.compromises>ul>li>a>p{
    width: 30%;
    text-align: center;
    color: var(--blue);
    font-size: calc(0.8rem + 0.5vw);
    font-weight: bold;
    font-family: fantasy;
    line-height: 1.8rem;
}
.compromises>ul>li>a>p>span{
    font-size: calc(0.3rem + 0.5vw);
    color: var(--orange);
    font-weight: bold;
    font-family: fantasy;
}
/*info footer*/
.info{

    justify-items: center;
}
.info>ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    width: 95%;
}
.info>ul>li{
    display: flex;
    flex-direction: column;
    color: var(--letter-footer);
    text-align:left ;
}

.info>ul>li a{
    color:var(--letter-footer);
    font-size: calc(0.5rem + 0.5vw);
}
.info>ul>li>ul>li{
    margin-bottom: 5%;
}
.info-ubication>p{
    font-size: calc(0.9rem + 0.5vw);
    margin-top: 4%;
   
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blue);
    color: #fff;
    border-radius: 8px;
    width: 30%;
    padding: 1%;
    
}
#change{
    margin-top: 4%;
    text-decoration:underline;
    color: #000;
    font-weight: bolder;
    display: flex;
    align-items:center ;
}
#change>svg{
    width: 10%;
    height: 50%;
}

.bottom{
    width: 85%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: 1fr  1fr 1fr  ;

}
.pay>p{
    font-size: calc(0.8rem + 0.5vw);
    color: #000;
    font-weight: bold;
}
.pay>img{
   
    height: 50%;
}
.follow{
    grid-column: 7;
    width: 100%;
    justify-self: center;
}
.follow>p{
    font-size: calc(0.8rem + 0.5vw);
    color: #000;
    font-weight: bold;
}
.follow>ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.follow>ul>li{
    width: 10%;
}

.advice{
    grid-column: 4/8;
    grid-row: 3;
}
.advice>ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}
.advice>ul>li{
    width: 100%;
    text-align: center;
}
.advice>ul>li>a{
    color: #000;
    font-size: calc(0.4rem + 0.5vw);
    margin-right: 1%;
}
.obramat{
    grid-row: 3;
    display: flex;
    flex-direction: column;
}
.obramat>a{
    color:#000 ;
}
/*---------------------MOBILE--------------------------------*/
@media  screen and (max-width: 768px) {
    .compromises>ul>li>a>p{
        width: 50%;
        font-size: calc(0.5rem + 0.5vw);
        font-weight:lighter;
        line-height: 0.6rem;
    }
    .compromises>ul>li>a>p>span{
        font-weight: lighter;
    }

    /*info footer*/
    .info>ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .info>ul>li{
        text-align:center ;
        align-items: center;
        width: 100%;
        border-bottom: var(--letter-footer)  1px solid;
    }
    h6{
        font-weight: bold;
    }
    .info>ul>li a{
        font-size: calc(0.8rem + 0.5vw);
    }
    #change{
        width: 45%;
    }
    .bottom{
        display: flex;
        flex-direction: column;
    }
    .bottom>div{
        border-bottom: var(--letter-footer) 1px solid;
    }
    .bottom p{
        font-size: calc(1rem + 0.5vw);
    }
    .follow{
        width:20%;
        right: 0px;
    }
    .follow>ul>li{
        width: 5%;
    }
    .advice>ul{
        flex-direction: column;
        margin: 3%;
    }
    .advice>ul>li{
        width: 100%;
        text-align: center;
    }
    .advice>ul>li>a{
        color: #000;
        font-size: calc(0.6rem + 0.5vw);
    }
    .obramat{
        order:4;
        margin-top:5% ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
/*--------------------TABLET--------------------------------*/

@media  screen and (max-width:1023px) and (min-width:769px){
    .compromises>ul>li>a>p{
        width: 40%;
        font-size: calc(0.8rem + 0.5vw);
        font-weight:lighter;
        line-height: 0.9rem;
    }
    .compromises>ul>li>a>p>span{
        font-weight: lighter;
    }
    h5{
        font-size: 2rem;
    }
    /*info footer*/
    .info>ul{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .info>ul>li{
        text-align:center ;
        align-items: center;
        width: 100%;
        border-bottom: var(--letter-footer)  1px solid;
    }
    h6{
        font-weight: bold;
    }
    .info>ul>li a{
        font-size: calc(0.8rem + 0.5vw);
    }
    #change{
        width: 45%;
        justify-content: center;
    }
    #contact{
        width: 20%; 
    }
    .bottom{
        display: flex;
        flex-direction: column;
    }
    .bottom>div{
        border-bottom: var(--letter-footer) 1px solid;
    }
    .bottom p{
        font-size: calc(1rem + 0.5vw);
    }
    .follow>ul>li{
        width: 5%;
    }
    .advice>ul{
        flex-direction: column;
        margin: 3%;
    }
    .advice>ul>li{
        width: 100%;
        text-align: center;
    }
    .advice>ul>li>a{
        color: #000;
        font-size: calc(0.6rem + 0.5vw);
    }
    .obramat{
        order:4;
        margin-top:5% ;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .obramat a{
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
    }
    .obramat img{
        width: 40%;
    }

}