
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-size: 16px;  
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-weight:100px;
    
}
:root{
    --blue:#011538;
    --orange:#ff671f;
    --grey:#efefef;
    --letter-footer: #383838;
}

/*-------ICONOS-------------------------------------*/


body{
    width: 98vw;
    height: 100vh; 
   
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1{
    position: relative;
    left: 1%;
    top:20%;
    font-size: 3rem;
    color: #fff;
}
h2{
    font-size: 2rem;
    margin-bottom:2% ;
}
h3{
    font-size: 1.2rem;
    cursor: pointer;
}
h4{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}
h5{
    font-size: 2rem;
    color: var(--letter-footer);
}
h7{
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 4%;
}
h8{
    display: flex;
    font-weight: bold;
    font-size: 1.2rem; 
    color: #09aa1f;
    margin-top: 4%; 
}
h9{
    font-weight: bold;
    font-size: 1.3rem;
}
/*------------------HEADER-----------------------------------*/
header{
    width: 99vw;
    height: 14%;
    position: fixed;
    z-index: 20;

}
.up{
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.up-1{
    width: 50%;
    display: flex;
    align-items: center;    
    justify-content:space-around ;
}
.up-1-search{
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 70%;
    height: 64%;
}
.search-i{
    width: 5%;
    color: var(--orange);
    cursor: pointer;
}
.mic-i{
    width: 5%;
    color: gray;
    cursor: pointer;
}

.up-1>a{
    height: 100%;
    display: flex;
    align-items: center;
}
.up-1>a>img{
    width: 90%;
    height: 50%;
}
.up-1-search>input{
    width: 80%;
    height: 103.5%;
    border-color: #fff; 
    display: flex;
    flex-grow: 1;
    font-size: 1.5rem;
}
.up-2{
    width: 30%;  
}
.up-2>ul{
    width: 100%;
    display: flex;
    justify-content: end;
    justify-content: space-around;
}
.up-2>ul>li{
    display: flex;
    align-items: center;
}
.up-2>ul>li>a{
    display: flex;
    align-items:center ;
    justify-content: center;
    text-decoration:none;
    color: #fff;
    font-size: 2rem;
}
.up-2>ul>li>a>p{
    font-size: 1.5rem;
    margin-left: 1px;
}
.ubication>p{
    display: flex;
    flex-direction: column;
}

.down{
    position: relative;
    background-color: #fff;
    height: 50%;
    display: flex;
    align-items: center;
}
.down>svg{
    color: var(--orange);
    cursor: pointer;
    margin-left: 1%;
}
.down>ul{
    display: flex;
    width: 90%;    
    height: 100%;
    display: flex;
    align-items: center; 
}
.down>ul>li{
    padding-left: 1%;
    height: 100%;
    display: flex;
    align-items: center;
}
.down>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
/*menu desplegable lateral*/
.down>aside{
    display: none;
    position:absolute;
    height: 100vh;
    width: 20%;
    margin-left: 0%;
    top:100%;
    overflow-y: scroll;
    
    z-index: 10;
    background-color: #fff;

}
.down>aside a{
    color: black;
    cursor: pointer;
}
.down>svg:hover~aside{
    display:block;
}
.down>aside:hover~aside{
    display:block;
}

/*------------------MAIN-----------------------------------*/
main{
    width: 99vw;
    position: relative;
    top: 14%;

}
/*------------------LEAFLET-----------------------------------*/
.leaflet{
    position: relative;
    background-color: var(--orange);
    display: flex;
    cursor: pointer;
}
.leaflet-1>p{
    color: #fff;
    background-color: var(--blue);
    border-radius: 25px;
    padding: 1.5%;
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-weight: bold;
}
.leaflet-1{
    width: 50%;
    position: relative;
    display: flex;
    flex-grow: 1;
    
}
.leaflet-2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.leaflet-2>img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.leaflet-3{
    width: 4%;
    background-color: #fff;
}
.leaflet-3>div{
    width: 100%;
    height: 100%;
    background-color: var(--orange);
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}
/*------------------SECTIONS-----------------------------------*/

.sections{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.sections>ul{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
}
.sections>ul>li>a{
    display: flex;
    flex-flow: column;
    align-items: center;
    
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

/*iconos*/
.b-category-root-list-categories__item--icon:hover{
    color:var(--orange);
}

/*------------------SERVICES-----------------------------------*/
.services{
    width: 100%;
    height: 30%;
    background-color: #efefef;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.services>article{
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 17%;
}
.services>article p, b{
   
    font-size: 1.5rem;
    flex-grow: 1;
}
.services b{
    font-weight: 150px;
}

.services img{
    width: 30%;
}
/*------------------SECTIONS-----------------------------------*/

.products{
    padding: 2%;
}
.products>ul{
    display: flex;
    overflow-x: scroll;
}

.products>ul>li{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1%;
    min-width: 15%;
}
.image{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.products img{
    max-height: 100%;
    max-width: 100%;
}
.text{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.text p{
    font-size: 1rem;
    color: rgb(140, 140, 140);
    border-top:  1px rgb(140,140 140);
    border-top-style:solid;
    width: 50%;
}
.text button{
    background-color: var(--orange);
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300px;
    border-style: none;
    padding: 3%;
    border-radius: 8px;
    width: 200px;
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top: 4%;
    cursor: pointer;
}
.text span{
    color: #fff;
    margin-right: 8px;
}
.text svg{
    max-width: 100%;
    max-height: 100%;
}
/*Tarjetas mas info*/

.more>article{
    height: 280px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 5%;
}

.more>article>div{
    border: #ff671f dotted;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.541) 5px 5px 5px;
    display: flex;
    background-color: var(--orange);
}
.more>article>div a{
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.more>article>div>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-1{
    position: relative;
    top:10%;
    left: 5%;
}
.card-2{
    background-color: var(--blue);
    width: 90%;
    border-radius: 8px;
    position: relative;
    padding: 1%;
    left: 2%;
    bottom: 3%;
    text-align: center;
}
.more>article>div img{
    object-fit: cover;
    overflow: hidden;
}

/*--mas productos--*/

.product{
    width: 80%;
    margin-bottom: 7%;
    align-self: center;
    justify-self: center;
    border-color: black;
    border-style: solid;
}
.product>legend{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr ;
}
.product>legend>p{
    grid-column: 3/5;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.product>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 0.2fr 1fr ;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin-bottom: 2%;
}
.product-2{
    grid-row: 3;
}
.product>ul>li{
    text-align: center;
    align-content: center;
    border: 1px;
    border-style: solid;
    width: 90%;
    height: 90%;
    padding: 8%;
}
.product>ul>li>a{
    font-size: 1.5rem;
    color: black;
    padding: 5%;  
}
/*prove*/
.prove{
    width: 80%;
    margin-bottom: 7%;
    align-self: center;
    justify-self: center;
    border-color: #000000;
    border-style: solid;
}
.prove>legend{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr ;
}
.prove>legend>p{
    grid-column: 3/5;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.prove>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 0.2fr 1fr ;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin-bottom: 2%;
}
.prove-2{
    grid-row: 3;
}

.prove>ul>li{
    text-align: center;
    align-content: center;
    border: 1px;
    border-style: solid;
    width: 90%;
    height: 90%;
    padding: 5%;
}
.prove>ul>li>a{
    font-size: 1.5rem;
    color: black;
    padding: 5%;  
}
.prove>ul>li>a>img{
    max-width: 100%;
    height: 40%;
}
.prove>div{
    position: absolute;
    background-color: var(--orange);
    border-radius: 8px;
    color: #fff;
    width: 15%;
    text-align: center;
    left: 43%;
    padding: 1%;  
}
.prove>div a{
    color: #fff;
    font-size: 1.4rem;
    
}

/*-------FOOTER----------------------------------*/

footer{
    background-color: var(--grey); 
    width:99vw; 
    position: relative;
    top: 14%;
}
.compromises{
    border-bottom: 1px solid var(--letter-footer);
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
    margin-bottom: 4%;
}
.compromises>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr; 
    margin-bottom: 4%;
    margin-top: 4%;
}
.compromises>ul>li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.compromises>ul>li>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.compromises>ul>li>a>img{
    width: 38%;
}
.euro>img{
    width: 30%;
}
.compromises>ul>li>a>p{
    width: 30%;
    text-align: center;
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: bold;
    font-family: fantasy;
    line-height: 1.8rem;
}
.compromises>ul>li>a>p>span{
    font-size: 1rem;
    color: var(--orange);
    font-weight: bold;
    font-family: fantasy;
}
/*info footer*/
.info{

    justify-items: center;
}
.info>ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    width: 95%;
}
.info>ul>li{
    display: flex;
    flex-direction: column;
    color: var(--letter-footer);
    text-align:left ;
}
h6{
    font-size: 1.4rem;
    color:var(--letter-footer);
}
.info>ul>li a{
    color:var(--letter-footer);
    font-size: 1.2rem;
}
.info>ul>li>ul>li{
    margin-bottom: 5%;
}
.info-ubication>p{
    font-size: 1.5rem;
    margin-top: 4%;
   
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blue);
    color: #fff;
    border-radius: 8px;
    width: 30%;
    padding: 1%;
    
}
#change{
    margin-top: 4%;
    text-decoration:underline;
    color: #000;
    font-weight: bolder;
    display: flex;
    align-items:center ;
}
#change>svg{
    width: 10%;
    height: 50%;
}

.bottom{
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: 1fr  1fr 1fr  ;
}

.pay>p{
    font-size: 1.4rem;
    color: #000;
    font-weight: bold;
}
.pay>img{
   
    height: 50%;
}
.follow{
    grid-column: 7;

}
.follow>p{
    font-size: 1.4rem;
    color: #000;
    font-weight: bold;
}
.follow>ul{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.follow>ul>li{
    width: 10%;
}

.advice{
    grid-column: 4/8;
    grid-row: 3;
}
.advice>ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}
.advice>ul>li{
    width: 100%;
    text-align: center;
}
.advice>ul>li>a{
    color: #000;
    font-size: 1rem;
    margin-right: 1%;
}
.obramat{
    grid-row: 3;
    display: flex;
    flex-direction: column;
}
.obramat>a{
    color:#000 ;
}